<ion-header>
  <ion-toolbar class="attachment-toolbar">
    <ion-row class="attachment-toolbar-row">
      <ion-col >
      </ion-col>
      <ion-col class="filter-text">
        {{attachmentConstants}}
      </ion-col>
      <ion-col class="close-text" (click)="close()">
        {{displayProperties.close}}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="exFiles.length>0">
      <ion-list-header>
          <ion-label style="font-weight: bold">{{displayProperties.attachmentUploadedFiles}}</ion-label>
        </ion-list-header>
      <div *ngFor="let file of exFiles; let i = index">
        <ion-item (click)="getReferredFile(file)" *ngIf="commonService.getRemoveUploadedFiles().indexOf(file._id)<0">
          <ion-icon name="document" ></ion-icon>
          <ion-label>
            {{file.filename}}
          </ion-label>
          <ion-icon name="close-circle" color="danger" (click)="removeUploadedFile(i)"></ion-icon>
        </ion-item>
      </div>
  </ion-list>
  <ion-list *ngIf="commonService.getFileAttachments().length && isHistoryView === false">
    <ion-list-header>
      <ion-label style="font-weight: bold">{{displayProperties.attachmentNewFiles}}</ion-label>
    </ion-list-header>
    <div *ngFor="let file of commonService.getFileAttachments(); let i = index">
      <ion-item (click)="openLocalFile(file.path, file.options.fileName)">
        <ion-icon name="document" ></ion-icon>
        <ion-label>
          {{file.options.fileName}}
        </ion-label>
        <ion-icon name="close-circle" color="danger" (click)="removeFile(i)"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
  <ion-list *ngIf="isHistoryView">    <ion-list-header>
        <ion-label style="font-weight: bold">{{displayProperties.attachmentUploadedFiles}}</ion-label>
      </ion-list-header>
    <div *ngFor="let file of historyFiles; let i = index">
      <ion-item (click)="getReferredFile(file)">
        <ion-icon name="document" ></ion-icon>
        <ion-label>
          {{file.filename}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isHistoryView">
    <ion-fab-button (click)="chooseFile()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
