.attach-icon {
    text-align: center;
}
.filter-text{
    text-align:center
}
.close-text{
    text-align:right
}

.attachment-toolbar{
    --ion-background-color: linear-gradient(#3270DC, #40C1F6);
    color: white
}