.osm-map{
    width: 100%; height: 100%;
}

#map-back {
    width:20%;
    position:absolute;
    z-index: 400;
}

#searchStyles {
  width:20%;
  position:absolute;
  z-index: 450;
}

.positionCSS{
  margin-top: 100%;
  margin-left: 10px;
  background-color: transparent;
}

.objStyleSearch{
  width: 88%;
  margin-top: 45%;
  position: absolute;
  z-index: 1000;
  margin-left: 19%;
  height: 80px;
  border-radius: 2px;
  overflow-x: scroll;
}

.searchboxStyles {
  background-color: white;
  outline: #ccc;
  color: #444343;
  height: 40%;
  width: 85%;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}

.objStyleList{
  width: 75%;
  margin-top: 55%;
  position: absolute;
  z-index: 1000;
  margin-left: 19%;
  height: 200px;
  display: list-item;
  border-radius: 4px;
  overflow-y: scroll;
}

.alignStyle{
  color: #2196F3;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.back-button-style{
    padding: 3px;
    background-color: #a59f9f;
    border-radius: 33px;
    margin-top: 7px;
    margin-left: 5px;
}

.search-close{
    width: 20%;
    position: absolute;
    z-index: 400;
    margin-top: 50px;
    margin-left: 75%;
}

.text-center {
    text-align: center;
}

.capture-button {
    padding: 0% 1% 0% 1%;
}

/* .mapBlock {
    padding: 5px 5px 5px 0px;
    min-height: 532px;
} */

.maximizeMap {
    position: absolute;
    top: 75px !important;
    margin-left: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-clip: padding-box;
    border-radius: 5px;
    z-index: 999;
    width: 29px;
    height: 29px;
}

.maximizeMap:hover {
    background-color: #F4F4F4;
}

.saveMarker {
    position: absolute;
    top: 135px !important;
    margin-left: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-clip: padding-box;
    border-radius: 5px;
    z-index: 999;
    width: 29px;
    height: 29px;
}

.saveMarker:hover {
    background-color: #F4F4F4;
}

.userLocation {
    position: absolute;
    top: 108px !important;
    margin-left: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-clip: padding-box;
    border-radius: 5px;
    z-index: 999;
    width: 29px;
    height: 29px;
}

.userLocation:hover {
    background-color: #F4F4F4;
}

.mapExpanded {
    /* border-left: 6px solid; */
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: absolute;
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

.mapRetained {
    z-index: 999;
    position: fixed;
    left: 85px;
    right: 5px;
    top: 65px;
    bottom: 0px;
    height: auto;
}

.customBtns {
    display: flex;
    position: absolute;
    top: 11px !important;
    right: 65px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-clip: padding-box;
    border-radius: 5px;
    z-index: 999;
    float: right;
    height: 47px;
  }
  
  .customBtns > .drawtool:hover {
    background-color: #EEE;
  }
  
  .customBtns > .fscreen:hover {
    background-color: #F4F4F4;
  }
  
  .drawtool {
    border-radius: 0px;
    border-right: 2px solid #EEE;
  }
  

  .leaflet-control-zoom .leaflet-bar{
    display: column !important;
   }
   
   .leaflet-bar a, .leaflet-bar a:hover {
     border-bottom: 0px solid #ccc;
   }
   
   .leaflet-bar {
     border: 1px solid rgba(0,0,0,0.2)
   }
   
   .leaflet-draw {
     display: flex !important;
     margin-top: 10px !important;
     right: 300px !important;
     /* position: absolute; */
     transform: translate(-50%, -50%);
   }
   
   .leaflet-draw-toolbar {
     margin-top: 0px !important;
     display: flex;
   }
   
   .leaflet-draw-toolbar-top {
     display: flex !important;
   }
   
   
   /* Author :@MMpk-63 */
   /* !IMPORTANT */
   /* Desc : Overriding the default behaiour of search control 
     What's changed : Adjusted the height of the search bar -65px placing it top of the default zoomcontrols position
     Position : TopLeft corner
     Caution : Removing this style will Revert the original Styles from Leaflet-search plugin */
   .leaflet-control-search {
     top:-65px !important;
   }
   
   .leaflet-control-zoom {
     top: 35px !important;
   }
