.grid-position{
    position: fixed;
    box-shadow: 0 0 5px #bbafaf;
    left: 6px;
    // right: 7px;
    // background-color: white;
    z-index: 10;
    padding: 0px;
    top:3px;
    border-radius: 6px;
    width: 97%;
}