
<ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{markerInfo.displayValue}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col size='4' >
                {{displayProperties.statusLabel}}
            </ion-col>
            <ion-col size='8'>
                {{markerInfo.status !== null?statusName[markerInfo.status]:'NA'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='4'>
               {{displayProperties.formName}}
            </ion-col>
            <ion-col size='8'>
                {{markerInfo.formName !== null?markerInfo.formName:'NA'}}
            </ion-col>
          </ion-row>
         
         
            
      </ion-grid>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button expand="block" (click)="openForm()" class="fill-form-on-map">{{displayProperties.gotoFormFill}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>