<ion-content>
  <div *ngIf="infoType=='formInfo'">
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Form Name
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[formInfoKeys.formName]}}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Created by
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[formInfoKeys.createdBy]}}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Description 
        </ion-row>
        <ion-row class="text-wrap value-row" [ngClass]="{'description': infoObject[formInfoKeys.description].length > 100  }">
          {{infoObject[formInfoKeys.description] || "NA"}}
        </ion-row>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="infoType=='recordInfo'">   
    <ion-item lines="none" *ngIf="infoObject['formNameVisable']">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">          
          Form Name
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[recordInfoKeys.formName] }}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Status
        </ion-row>
        <ion-row class="value-row">
          {{statusName[infoObject[recordInfoKeys.status]] }}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="infoObject[recordInfoKeys.status] == statusCodes['reassigned']">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Comment
        </ion-row>
        <ion-row class="text-wrap value-row" [ngClass]="{'description': infoObject[recordInfoKeys.comments][0][recordInfoKeys.Comment].length > 100  }">
          {{infoObject[recordInfoKeys.comments][infoObject[recordInfoKeys.comments].length-1][recordInfoKeys.Comment] || 'NA'}}
        </ion-row>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="infoType=='taskInfo'">
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Task Name
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[taskInfoKeys.taskName]}}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Created by
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[taskInfoKeys.createdBy]}}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          Start Date
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[taskInfoKeys.startDate] | date : "dd-MM-yyyy"}}
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="itemHeight">
        <ion-row style="color: #c3c3c3;">
          End Date
        </ion-row>
        <ion-row class="value-row">
          {{infoObject[taskInfoKeys.endDate] | date : "dd-MM-yyyy"}}
        </ion-row>
      </ion-label>
    </ion-item>
  </div>

</ion-content>
<ion-footer style="margin-top: 7px">
  <ion-toolbar class="info-footer" (click)="close()">
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align:center;color: white;margin-top: -7px;">
        OK
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
