
.menuStyle{
    margin-top: 5%;
//   margin-left: 70%;
//   background: deepskyblue;
//   color: blue;
  height: 43px;
  width: 43px;
//   padding-top: 2px;
//   width: 15%;
//   height: 10px;
  text-align: -webkit-center;
  z-index: 999;
  position: absolute;
  top: 8%;
  left: 86%;
  border-radius: 4px;
  border: 0.3px solid gray;
}

.menuDivStyle{
    height:100%;
    // border-bottom: 0.1px solid gray;
}

.objStyle{
    width: 140px;
    background: white;
    position: absolute;
    max-height: 70%;
    // min-height: 40%;
    z-index: 1000;
    left: 60%;
    top: 135px;
    // padding-left: 15px;
    padding-top: 10px;
    Overflow-y:scroll;
}

.iconStyle{
    display: flex;
    // padding-right: 5px;
    padding-left: 5%;
    border-bottom: 0.1px solid gray;
}

.imageSize{
    margin-right: 15px;
    height: 20px;
    margin-top: 10px;
}

.assetType{
    font-size: small;
}

.menuStyleIcon{
    color: #0095ea;
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 4px;
}