<div class="bookmarkStyle">
  <ion-toolbar color="primary">
  <ion-title style="left: 75px; right: 75px;">
      <span style="color: #FFFFFF;">Bookmarks</span>
  </ion-title>
  <ion-buttons slot="end">
          <ion-text class="button" style="font-size:15px; width: 70px; margin-top: 0px; text-align: center;
              box-shadow: none;" (click)="closeBookmark(viewBookmark=!viewBookmark)">
                        <ion-icon src="./assets/images/close.svg"></ion-icon></ion-text>
      </ion-buttons>
 </ion-toolbar>
 <ion-grid>
   <div *ngIf="bookmarks.length > 0"  padding>
    <ion-row class="ion-align-items-start" *ngFor="let bookmark of bookmarks.reverse()">
      <ion-col (click)="assetSearch(bookmark)">
        <ion-text class="lable">{{ bookmark.bookmarkName }}</ion-text>  
      </ion-col>
      <ion-col style="text-align: end;">
        <img style="margin-left: 10px; height: 22px; width: 23px;" 
        [src]="icon.sketchingEdit" (click)="openModal('Edit Bookmark', 'Update', bookmark)"/>
        <img style="margin-left: 15px; height: 22px; width: 23px;"
        [src]="icon.trash" (click)="deleteBookmark(bookmark)"/>
      </ion-col>
      <!-- <ion-col style="text-align: end;">
        <img style="margin-left: 2px; height: 22px; width: 23px;"
        [src]="icon.trash" (click)="deleteBookmark(bookmark)"/>
      </ion-col> -->
    </ion-row>
   </div>
  
 </ion-grid>
  
 <!-- <div class="addBookmark">
   <ion-button type="submit" color="success" (click)="openModal('Add Bookmark', 'Add')">Add Bookmark</ion-button>
</div> -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button type="submit" color="success" (click)="openModal('Add Bookmark', 'Add', '')">
    <!-- Add Bookmark -->
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>
