<ng-container *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false : isTable ? true : config[widgetKey.isUnderHeading].length==0?true:config[widgetKey.isUnderHeading]== expendedHeaderId?true:false">
  <ion-row>
    <ion-col size="12" padding>
      <ion-label>{{config.label}}</ion-label>&nbsp;
      <span *ngIf="config[widgetKey.isRequired] == true" class="redColor">*</span>
    </ion-col>
  </ion-row>
  <ion-card class="form-elements-card-boxshadow" class="widget-card" (click)="captureVideocheck(config)">
    <ion-item>
      <ion-label> </ion-label>
      <ion-icon *ngIf="!historyView && group.get(config[widgetKey._id]).value"
        (click)="deleteVideo(config[widgetKey._id]); $event.stopPropagation()" name="trash" class="icon-margin">
      </ion-icon>
        <video width="82%" controls #video [hidden]="!group.get(config[widgetKey._id]).value"
        controls controlsList="nodownload"></video>
      <ion-icon *ngIf="!historyView" (click)="captureVideocheck(config); $event.stopPropagation()" name="videocam">
      </ion-icon>
    </ion-item>
  </ion-card>
  <app-validation [dynamicFormControlRef]="group.get(config[widgetKey._id])">
  </app-validation>
</ng-container>
