
<app-form-header
[Header] = "formHeader"
[hideButtons] = "isHistoryView"
[ellipseList] = "ellipsePopoverList"
[showSaveButton] = 'showSaveButton'
(getFilledFormData) = "getFilledFormData($event)"
(back)="presentAlertPrompt()"
(popUpback) ="popUpClose()"
></app-form-header>
<ion-content class="form-content-style">
    <!-- <div *ngIf="showText" class="textBackground"></div>
    <div *ngIf="showText" class="textStyle">{{loadingText}}</div> -->
    <dynamic-form
      [config]="config"
      [recordData] ="recordData"
      [recordStatus]="recordStatus"
      [isHistoryView]="isHistoryView"
      [derivedFields]="derivedFields"
      #form="dynamicForm">
  </dynamic-form>
</ion-content>
