<ion-row class="searchbar-row">
  <ion-col size="11" class="searchbar-column">
    <ion-searchbar [(ngModel)]="search" (focusout)="focusedOut($event)" (focusin)="focusedIn($event)" (search)="pageSearch($event)" (ionClear)="searchEventChangeCross($event)" (input)="searchEventChange($event)" color="light"
      class="searchbar" name="search"></ion-searchbar>
  </ion-col>
  <!-- <ion-col *ngIf="search != nullValue && focused" class="searchbar-column-go" size="1" (click)="pageSearch(); $event.stopPropagation()">
    <ion-icon name="checkmark" class="ok-button"></ion-icon>
  </ion-col> -->
  <ion-col *ngIf="search != nullValue || focused" class="searchbar-column-go" size="1" (click)="searchEventChangeCross($event); $event.stopPropagation()">
    <ion-icon name="close" class="ok-button"></ion-icon>
  </ion-col>
</ion-row>
