
.searchbar{
    padding: 0px;
}
.searchbar-card{
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}
.searchbar-row{
    background-color: #f4f5f8;
}
.searchbar-column{
    padding: 0px;
}
.searchbar-column-go{
    padding: 0px;
    text-align: end;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.ok-button{
    font-size: 20px;
    color: black;
}
