.headerlist{
    background-image: linear-gradient(#3270DC, #40C1F6);
    padding-top: 0px;
}
.headerItem1{
    --ion-background-color: linear-gradient(#3270DC, #3A9DE9);
}
.headerItem2{
    --ion-background-color: linear-gradient(#3A9DE9, #40C1F6);
}
.searchbar{
    padding: 0px;
}
.searchbar-card{
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}
.searchbar-row{
    background-color: #f4f5f8;
}
.searchbar-column{
    padding: 0px;
}
.headingSize{
    font-size: 20px;
}
.ellipseComponent{
    margin-left: 0px;
}
.header-row{
    width: 100%;
}
.heading{
    color: var(--ion-color-light, #f4f5f8) !important;
    margin-top: 4px;
}
.icons{
    margin: 0 auto;
    position: relative;
}
.back-button{
    padding-left: 0px !important;
}
.map-icon{
    max-width: 127%;
    margin-top: 4px;
    text-align: center;
}
