<span *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false : isTable ? true : config[widgetKey.isUnderHeading].length==0?true:config[widgetKey.isUnderHeading]== expendedHeaderId?true:false">
    <ion-row>
      <ion-col size="12" padding>
        <ion-label>{{config.label}}</ion-label>&nbsp;<span *ngIf="config[widgetKey.isRequired] == true" class="redColor"> *</span>
      </ion-col>
    </ion-row>
    <ion-card class="form-elements-card-boxshadow" class="widget-card" (ionChange)="openDatePicker(config[widgetKey._id],$event)">
      <ion-item [id]="config[widgetKey._id]"   [ngClass]="{'disabled' : (historyView || group.get(config[widgetKey._id]).disabled) }" >
           {{group.get(config[widgetKey._id]).value | date : "dd/MM/yyyy"}} 
        <ion-label> </ion-label>
        <ion-icon *ngIf="!historyView"  name="calendar"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-modal class="ion-modal"  [trigger]="config[widgetKey._id]">
      <ng-template>
        <ion-content>
          <ion-datetime max="3050-05-31T23:59:59" locale="en-US" [showDefaultButtons]="true" presentation="date" [id]="config[widgetKey._id]" (ionChange)="openDatePicker(config[widgetKey._id], $event)"></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal> 
    <app-validation [dynamicFormControlRef]="group.get(config[widgetKey._id])">       
    </app-validation>
  </span>
