 
 .main-div{
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/Fieldon_BG_splash.png');
  align-content: center;
}
 
.card-custom{
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  background-color: white;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
  .forget-password{
    font-size: 10px;
    font-size: 10px;
    margin-right: 5%;
    margin-top: 3%;
    color: var(--ion-color-primary);
    font-family: inherit;
  }
  .forget-password-div{
    margin-top: -10px;
}
 .login-button-div{
  margin-bottom: 6%;
  margin-left: 5%;
  margin-right: 5%;
 }
  .input-icons{
    width: 15px;
}
.input-element{
    margin-left: 10px;
    font-style: initial;
    font-family: emoji;
}



.ion-input .input-clear {
  visibility: hidden;
}

 
//  .image{
//     margin-left: 37%;
//     margin-bottom: 10%;
//  }

//  .bu{
//    margin-left: 37%;
//    margin-bottom: -17%;
//  }
//   .pass{
//     margin-left: 61%;
//   }
//  .card{
//    font-family: sans-serif;
//    width: 300px;
//    margin-left: auto;
//    margin-right: auto;
//    margin-top: 3em;
//    margin-bottom: 3em;
//    border-radius: 10px;
//    background-color: #ffff;
//    padding: 1.8rem;
//  }