<ion-toolbar class="filter-toolbar">
  <ion-row class="filter-toolbar-row">
    <ion-col (click)="getFormFilledData()" float-right>
      <span float-right>Done</span>
    </ion-col>
  </ion-row>
</ion-toolbar>
<ion-content class="form-content-style">
  <form class="dynamic-form" [formGroup]="form">
    <ng-container *ngFor="let field of config;" dynamicField [config]="field" [group]="form" [data]="recordData" [isHistoryView]="isHistoryView"
      [derivedFields]="derivedFields" [isTable]=true>
    </ng-container>
  </form>
</ion-content>