<div class="menuStyle" *ngIf="!toolbarButtonConf.drawStarted">
  <!-- <div class="menuDivStyle ripple"><img class="menuStyleIcon" [src]="icon.menu"
      (click)="showTool();$event.stopPropagation()"></div> -->
  <!-- <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.saveGeometry);$event.stopPropagation()"><img
      class="menuStyleIcon" [src]="icon.sketchingSave"></div> -->
      <div class="menuDivStyle ripple"><img class="menuStyleIcon" [src]="icon.assetSearch"
        (click)="selectedAction(geometryActionTypes.assetSearch);$event.stopPropagation()"></div>
  <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.editGeometry);$event.stopPropagation()">
    <img class="menuStyleIcon" [src]="icon.sketchingEdit"></div>
  <div class="menuDivStyle ripple"
    (click)="selectedAction(geometryActionTypes.deleteGeometry);$event.stopPropagation()"><img class="menuStyleIcon"
      [src]="icon.cancel"></div>
  <div class="menuDivStyle ripple"
    (click)="selectedAction(geometryActionTypes.deleteAllGeometry);$event.stopPropagation()"><img class="menuStyleIcon"
      [src]="icon.clearAll"></div>
  <!-- <div class="menuDivStyle ripple"
    (click)="selectedAction(geometryActionTypes.FindBTtwoPoints);$event.stopPropagation()"><img class="menuStyleIcon"
      [src]="icon.findRoute"></div> -->
  <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.openBookmark);$event.stopPropagation()">
    <img class="menuStyleIcon" [src]="icon.bookmark"></div>
  <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.measuringTool);$event.stopPropagation()">
    <img class="menuStyleIcon" [src]="icon.measuringTool"></div>
  <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.addressSearch);$event.stopPropagation()">
    <img class="menuStyleIcon" [src]="icon.searchAddress"></div>
</div>


<div *ngIf="showSketchingTool" class="objStyleBackground">
</div>
<div *ngIf="showSketchingTool" class="objStyle">
  <div class="iconStyle" (click)="selectedAction(geometryActionTypes.drawPoint);$event.stopPropagation()">
    <img class="imageSize" [src]="icon.point">
    <p>Point</p>
  </div>
  <div class="iconStyle" (click)="selectedAction(geometryActionTypes.drawLine);$event.stopPropagation()">
    <img class="imageSize" [src]="icon.route">
    <p>Line</p>
  </div>
  <div class="iconStyle" (click)="selectedAction(geometryActionTypes.drawArea);$event.stopPropagation()">
    <img class="imageSize" [src]="icon.polygon">
    <p>Area</p>
  </div>
</div>
<!-- && toolbarButtonConf.drawingType != 'marker' -->
<div class="menuStyle" *ngIf="toolbarButtonConf.drawStarted ">
  <div class="menuDivStyle  ripple" (click)="selectedAction(geometryActionTypes.finish);$event.stopPropagation()"
    [class.disabled]="toolbarButtonConf.drawingType == 'marker'"><img class="menuStyleIcon"
      [src]="icon.sketchingFinish"></div>
  <div class="menuDivStyle ripple"
    (click)="selectedAction(geometryActionTypes.deleteLastPoint);$event.stopPropagation()"
    [class.disabled]="toolbarButtonConf.drawingType == 'marker'"><img class="menuStyleIcon" [src]="icon.sketchingUndo">
  </div>
  <div class="menuDivStyle ripple" (click)="selectedAction(geometryActionTypes.cancel);$event.stopPropagation()"><img
      class="menuStyleIcon" [src]="icon.sketchingCancel"></div>
</div>
<!-- <div class="marker-sketching-toolbar" *ngIf="toolbarButtonConf.drawStarted && toolbarButtonConf.drawingType == 'marker'" (click)="selectedAction(geometryActionTypes.finish);$event.stopPropagation()">
  <div class="marker-sketching-end-action ripple"><img
      class="sketching-complete-image" [src]="icon.sketchingFinish"></div>
</div> -->
