<ion-tabs style="height: 50px;top: 93%;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="home()">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click)="rewards()">
      <ion-icon name="gift"></ion-icon>
      Rewards
    </ion-tab-button>
    <ion-tab-button (click)="share()">
      <ion-icon name="share"></ion-icon>
      Share
    </ion-tab-button>
    <ion-tab-button (click)="contact()">
      <ion-icon name="person-add-outline"></ion-icon>
      contactUs
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      Logout
    </ion-tab-button>
 
  </ion-tab-bar>
</ion-tabs>