<app-form-header [Header]="changePasswordHeader" [hideButtons]="hideHeaderButtons" [ellipseList]="ellipsePopoverList">
</app-form-header>

<ion-content padding>
    <form [formGroup]="registerForm" (keyup.enter)="changePassword()">
        <div>
            <label padding class="text-font">{{displayProperties?.enterOldPassword?displayProperties.enterOldPassword: ''}}</label>
            <ion-card class="custom-card" [class.invalid]="!oldpassword.valid && oldpassword.touched">
                <app-show-hide-password>
                <ion-input (focusout)="verifyPassword($event)" placeholder="Enter old password" type="password" value=""
                    [formControl]="oldpassword"></ion-input>
                </app-show-hide-password>
            </ion-card>
            <span *ngIf="oldpassword.hasError('wrongPassword') && oldpassword.touched"
                class="invalid error">
                <p>{{displayProperties?.passwordWrong}}</p>
            </span>
        </div><br>
        <div>
            <label padding class="text-font">{{displayProperties?.enterNewPassword?displayProperties.enterNewPassword:''}}</label>
            <ion-card class="custom-card" [class.invalid]="!password.valid && password.touched">
                <app-show-hide-password>
                <ion-input (focusout)="checkOldNew()" placeholder="Enter new password" type="password" value="" [formControl]="password"></ion-input>
            </app-show-hide-password>
            </ion-card>
            <span *ngIf="password.hasError('oldNewPasswordErr') && password.touched"
            class="invalid error">
            <p>{{displayProperties?.oldNewPasswordMissmatch}}</p>
        </span>
            <div *ngIf="password.invalid && password.touched" [ngClass] = "'error'"> 
                    <div *ngIf="password.errors.required">
                        {{displayProperties?.passwordRequired}}
                    </div>  

                    <span *ngIf="password.hasError('pw_mismatch') && password.touched"
                    class="invalid error">
                    <p> {{displayProperties?.passwordDontOld}}</p>
                </span>
    

                    <div *ngIf="password.errors.pattern">
                     {{displayProperties?.passwordPatternAlert}}
                    </div>
                    </div>
          
        </div><br>
        <div>
            <label padding class="text-font">{{displayProperties?.conformNewPassword}}</label>
            <ion-card class="custom-card" [class.invalid]="!confirmPassword.valid && confirmPassword.touched">
                <app-show-hide-password>
                <ion-input placeholder="Confirm new password" type="password" value=""  [formControl]="confirmPassword">
                </ion-input>
            </app-show-hide-password>
            </ion-card>
            <span *ngIf="confirmPassword.hasError('pw_mismatch') && confirmPassword.touched"
                class="invalid error">
                <p>{{displayProperties?.passwordNotMatch}}</p>
            </span>
        </div> <br>
        <ion-button (click)="changePassword()" [disabled]="(!registerForm.valid)"
            class="submit-button"
            expand="full">Submit</ion-button>
    </form>
</ion-content>
