.user-info-card{
    color: #FFF;
    text-align:center;
}
 .user-label{
   margin-left: 40%;
   color: #FFF;
   font-size:larger
 }

.font-size-30{
    font-size: 30px;
}
.font-size-20{
    font-size: 20px !important;
   
}
