<div (press)="onPressUp($event)">
  <canvas-whiteboard #canvasWhiteboard [options]="canvasOptions" [lineWidth]="pencilwidth"
    [clearButtonClass]="'fa fa-eraser fa-2x canvas_whiteboard_button-clear'" (onSave)="onCanvasSave($event)"
    [imageUrl]="imgData" (onUndo)="onCanvasUndo($event)" (onRedo)="onCanvasRedo($event)"
    (onBatchUpdate)="sendBatchUpdate($event)" (positionCanvas)="positionCanvas($event)">
  </canvas-whiteboard>

  <img (click)="closeModal()" class="backIconStyle" [src]="imageIcons.back">

  <div class="topBackground"></div>
  <div class="bottomBackground"></div>

  <div class="textAndPencil">
    <img (click)="hide()" class="pencilModeIcon" [src]="imageIcons.p1">
  </div>

  <div *ngIf="hideMe" class="pencilMode">
    <img (click)="lineWidth(2)" class="p1" [src]="imageIcons.p2">
    <img (click)="lineWidth(4)" class="p2" [src]="imageIcons.p3">
    <img (click)="lineWidth(6)" class="p3" [src]="imageIcons.p3">
    <img (click)="lineWidth(8)" class="p4" [src]="imageIcons.p4">
  </div>

  <div class="footerIcons">
    <img (click)="clearCanvasData()" [src]="imageIcons.close" type="image/svg" class="footerIconStyle">
    <img (click)="undoCanvasData()" [src]="imageIcons.undo" type="image/svg" class="undo">
    <img (click)="redoCanvasData()" [src]="imageIcons.redo" type="image/svg" class="redo">
    <img (click)="saveCanvasData()" [src]="imageIcons.save" type="image/svg" class="save">
  </div>

</div>
