.add-button{
    font-size: 40px;
    color: #06a006;
}
.close-button{
    font-size: 40px;
    color: #bd3b3b;    
}
.time{
    padding: 0px;
    text-align: center;
}
.hours-input{
    --padding-bottom: 0px;
    --padding-top: 0px;
}
.alertColor{
    color: red;
}
.validation-message{
    padding-left: 3%;
}