<ng-container *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false : isTable ? true : config[widgetKey.isUnderHeading].length==0?true:config[widgetKey.isUnderHeading]== expendedHeaderId?true:false">
  <ion-row>
      <ion-col size="12" padding>
          <ion-label>{{config[widgetKey.label]}}</ion-label>&nbsp;<span *ngIf="config[widgetKey.isRequired] == true" class="redColor"> *</span>
      </ion-col>
  </ion-row>
  <ion-card [formGroup]="group" class="widget-card" *ngIf="!historyView">
    <ion-item>
      <ion-col size="2">
        <ion-icon name="remove-circle" class="close-button" (click)="decreaseTime()"></ion-icon>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="time">
            <ion-input class="hours-input" (keyup.enter)="closeKeyboard($event)" (ionChange)="hourChange($event)" type="number" value="{{group.get(config[widgetKey._id]).value.slice(0,group.get(config[widgetKey._id]).value.indexOf(':'))}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="time">
            Hrs
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="time">
            {{group.get(config[widgetKey._id]).value.slice(group.get(config[widgetKey._id]).value.indexOf(":")+1)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="time">
            Min
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2">        
        <ion-icon name="add-circle" class="add-button" (click)="increaseTime()"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-card>
  <ion-card [formGroup]="group" class="widget-card" *ngIf="historyView">
    <ion-input [formControlName]="config[widgetKey._id]"></ion-input>
  </ion-card>
  <app-validation [dynamicFormControlRef]="group.get(config[widgetKey._id])">
  </app-validation>
  <div *ngIf="group.get(config[widgetKey._id])?.dirty && group.get(config[widgetKey._id])?.errors" class="validation-message">
    <div *ngIf="group.get(config[widgetKey._id]).errors?.minHour" class="alertColor">Minimum Hours are {{config[widgetKey.minTime]}}</div>
    <div *ngIf="group.get(config[widgetKey._id]).errors?.maxHour" class="alertColor">Maximum Hours are {{config[widgetKey.maxTime]}}</div>
  </div>
</ng-container>
