<ng-container *ngIf="derivedFields.indexOf(config[widgetKey._id]) > -1 ? false :  true ">
  <ng-container [formGroup]="group">
    <ion-card class="form-elements-card-boxshadow">
      <ion-item class="card-header">
        <ion-label (click)="showOrHideTable()" class="table-lable">{{config[widgetKey.label]}} ({{group.get(config[widgetKey._id]).value.length}})</ion-label>
        <ion-icon name="add-circle" *ngIf="!historyView" (click)="addTableWidget()" class="add-button"></ion-icon>
      </ion-item>
      <ng-container *ngFor="let tableConfig of group.get(config[widgetKey._id]).value; let i = index;">
        <ng-container *ngIf="showTableRows">
          <ion-item>
            <ion-label (click)="showRowData(i)">{{i+1}} <span *ngIf="firstRowFilled">{{systemGeneratedEntry}}</span></ion-label>
            <ion-icon name="remove-circle" *ngIf="i != 0 && !historyView" (click)="removeTableWidget(i)" class="clos-button"></ion-icon>
          </ion-item>
        </ng-container>
      </ng-container>      
    </ion-card>
    <div *ngIf="requiredFieldsFillded" class="validation-message alertColor">This table has required field/field's, please enter at least one record</div>
  </ng-container>
</ng-container>
