.table-card{
    border-radius: 15px;
}

.card-header {
    --background: #b2dcf0 !important;
}

.add-button{
    font-size: 30px;
    color: #06a006;
}

.clos-button{
    font-size: 30px;
    color: #bd3b3b;    
}

.table-lable{
    white-space: normal;
}

.alertColor{
    color: red;
}
.validation-message{
    padding-left: 3%;
}
