<ion-header>
<ion-toolbar>
  <ion-list class="formheaderlist">
    <ion-item lines="none" class="formheaderItem">
      <ion-icon class="backarrow" name="arrow-back" slot="start" color="light" size="large" (click)="goBack()"></ion-icon>
      <ion-text color="light" class="headingSize">{{Header}}</ion-text>
      <!-- <ion-icon (click)="searchIcon=!searchIcon; icon(searchIcon)" color="light" size="large" name="search"></ion-icon> -->
      <!-- <ion-icon *ngIf="isAttcheMentIconEnable" name="attach" slot="end" color="light" size="large" (click)="addFiles()"></ion-icon> -->
      <ion-text *ngIf="!hideButtons && showSaveButton && !searchIcon" color="light" slot="end" (click)="saveForm()">SAVE</ion-text>
      <ion-text *ngIf="!hideButtons && networkStatus && !searchIcon" color="light" slot="end" (click)="submitForm()">SUBMIT</ion-text>
      <!-- <ion-icon *ngIf="!hideButtons" name="more" slot="end" size="large" color="light"></ion-icon> -->
      <div *ngIf="ellipseList.length > 0 && networkStatus && !searchIcon" slot="end" (click)="openPopover($event)" class="ellipse">
        <img  [src]="imageIcons.ellipsis">
      </div>      
    </ion-item>
    <ion-searchbar *ngIf="searchIcon" color="light" (ionChange)="search($event)" placeholder="Search" showCancelButton="always"></ion-searchbar>
  </ion-list>
</ion-toolbar>
</ion-header>
