<ion-header>
  <ion-list class="formheaderlist">
    <ion-item lines="none" class="formheaderItem">
      <ion-icon class="backarrow" name="arrow-back" slot="start" color="light" size="large" (click)="goBack()"></ion-icon>
      <ion-text color="light" class="headingSize">{{gpsTrackingHeader}}</ion-text>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-card>
        <ion-card-content>
            <ion-row>
              <ion-col size="10" class="gpsTrackingHead">
                  Enable GPS tracking
              </ion-col>
              <ion-col size="2">
                  <ion-toggle [(ngModel)]="navigeationSatatus" (ionChange)="enableGPsNavigeation(navigeationSatatus)"></ion-toggle>
                <!-- <ion-button fill="clear">
                    <ion-icon name="locate"></ion-icon>
                </ion-button> -->
              </ion-col>
            </ion-row>
        </ion-card-content>
        
       
   
  </ion-card>

  <ion-card>
      <ion-card-content>
          <ion-row>
              <ion-col size="12">
                <ion-text><b>Having problem with GPS? </b></ion-text>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col  size="10">
                <ion-button no-padding fill="clear"><a href="https://dontkillmyapp.com/" class="help-link">Troubleshoot instructions</a></ion-button>
            </ion-col>
            <ion-col  size="2" *ngIf="!ishelmaplView">
                <ion-button no-padding fill="clear" color="danger" (click)="helmaplView(true)">Help</ion-button>
            </ion-col>
          </ion-row>

          <!-- <ion-row *ngIf="!ishelmaplView">
              <ion-col  size="12">
                  <ion-button no-padding fill="clear" color="danger" (click)="helmaplView(true)">Help</ion-button>
              </ion-col>
          </ion-row>
               -->
      </ion-card-content>
   
  </ion-card>

  <ion-card *ngIf="ishelmaplView">
    <ion-card-content>
      
      <form no-validate [formGroup]="emailForm"  (submit)="sendHelpMail()">
         <ion-row>
            <ion-col size="6">
                <ion-text>Report your issue</ion-text>
            </ion-col>
            <ion-col size="2" offset="2">
                <ion-button fill="clear" (click)="helmaplView(false)"><ion-icon name="close"></ion-icon></ion-button>
              
            </ion-col>
            <ion-col size="1">
              <ion-button type="submit" fill="clear" [disabled]="emailForm.invalid"><ion-icon name="send" ></ion-icon></ion-button>
            </ion-col>
          </ion-row>

          <!-- email start -->
          <ion-item>
              <ion-label position="floating">Your Email Id <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [required]="true" name="mailId" formControlName="email"></ion-input>
          </ion-item>
        
           <!-- email end -->
          <!-- issue start -->
          <ion-item>
              <ion-label position="floating" >Enter your issue  <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea  name="issue"  formControlName="issue"></ion-textarea>
          </ion-item>
          <div  *ngIf="emailForm.get('issue').dirty && emailForm.get('issue').errors" class="validation-message">
              <div *ngIf="emailForm.get('issue').errors?.required" class="alertColor">Required field</div>
          </div>
            <!-- issue end -->
          <ion-item>
              <ion-label position="floating">Enter troubleshooted steps</ion-label>
              <ion-textarea  name ="troubleshootedSteps" formControlName="troubleshootedSteps" ></ion-textarea>
          </ion-item>

      </form>
      
    </ion-card-content>
  </ion-card>
</ion-content>
