<ion-header>
  <ion-toolbar style="--background: linear-gradient(#3270DC, #40C1F6);">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="{{edit?7:9}}" color="white">
              <ion-text color="light">{{Header}}</ion-text>
          </ion-col>
          <ion-col *ngIf="edit" size="2" (click)="drawImage()" color="white">
            <ion-text class="namFontSize" color="light" *ngIf="!historyView">Edit</ion-text>
        </ion-col>
          <ion-col (click)="closeModal()" size="3">
              <ion-text class="namFontSize" color="light">Close</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>    

<ion-content style="height:100%">

    <ion-slides zoom style="height: 100%;">
        <ion-slide style="width:100%">
          <div class="swiper-zoom-container">
              <img style="width:100%;height:100%;" [src]="imgWebView">
          </div>  
        </ion-slide>
    </ion-slides> 
</ion-content>

<ion-footer *ngIf="!historyView">
  <ion-toolbar style="background-color: gainsboro;">
    <ion-title>
      <ion-row>
        <ion-col>
           <ion-button text-capitalize class="buttonStyle" expand="full" (click)="deleteImageEvent()">Delete</ion-button>
        </ion-col>
        <ion-col>
          <ion-button text-capitalize class="buttonStyle" expand="full" (click)="retakeImage()">{{footer}}</ion-button>
        </ion-col>

    </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-footer>

