<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-data-sync" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DataSync</name>
    <js-module name="DataSync" src="www/DataSync.js">
        <clobbers target="DataSync" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DataSync">
                <param name="android-package" value="cordova.plugin.data.sync.DataSync" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/DataSync.java" target-dir="src/cordova/plugin/data/sync/DataSync" />
        <!-- <framework src="com.squareup.retrofit2:retrofit:2.5.0"/>
        <framework src="com.squareup.retrofit2:converter-gson:2.5.0"/> -->
      
         <framework src='com.squareup.retrofit2:retrofit:2.3.0' />
        <framework src='com.squareup.retrofit2:converter-gson:2.3.0' />

        <framework src='io.reactivex.rxjava2:rxandroid:2.0.1' />
        <framework src='io.reactivex.rxjava2:rxjava:2.1.0' />
         <framework src='com.squareup.retrofit2:adapter-rxjava2:2.2.0' />
     
    </platform>
</plugin>