.grid-position{
    position: sticky;
    box-shadow: 0 0 5px #bbafaf;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
}

.font-size{
    font-size: 15px;
}

.clear-button{
    margin-top: 8px;
}

.action-button{
    margin-top: 15px;
    text-align: center;
}