<ion-grid class="grid-position">
  <ion-row>
    <ion-col size="6" class="font-size">
      <div>
        {{inputData.count}} items selected
      </div>
      <div (click)="selectedAction(selectAction.clear)" class="formsz-text-color clear-button">
        Clear selection
      </div>
    </ion-col>
    <!-- <ion-col>
      <ion-item lines = "none">
        <img *ngFor="let action of inputData.action" [src]="action.icon" slot="end" (click)="selectedAction(action.action)" class="action-button formsz-text-color">
      </ion-item>
    </ion-col> -->
  </ion-row>
</ion-grid>