.card{
    margin-top: 70%;
    border-radius: 10px;
    text-align: center
}

.content{
    background-color: lightblue;
    height: 100%;
    text-align: right;
}
.submit{
    align-content: center;
}

.text{
    margin-right: 10px;
}