
<div class="content">
  <ion-card class="card">
    <ion-list >
      <ion-item>
        <ion-label>Enter Email:</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Enter New Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="submit" (click)="submit()">Submit</ion-button>
  </ion-card>
  <p class="text" (click)="goback()">Signin?</p>
</div>
