

.statusBackground{
    // --background:black;
    --background: #336382 !important;
    color: white;
}
.statusText{
    color: white;

}

.circle_top{
    padding-top: 0px;
}
.skeletonBlock{
    display: -webkit-inline-box;
}