
<!-- 1)	Please signup/login with your email.
2)	Tap on the tree which is present on the home screen. You can see your taps increasing in the above taps bar.
3)	You can tap 100,000 times per day. (Limit – 100,000 taps)
4)	Once you complete 1,000,000 taps you can go to the “Redeem” section and “Redeem” the Giftcard you want.
5)	You will receive your Giftcard in 15 days to your registered email.
Note: If you redeemed Solana you’ll receive crypto to the address you provide make sure to double check.
6)	If any suspicious activity is detected in the account your account will be banned without any further questioning. -->

<div class="play">
  <h5 class="heading">Refer the below points to know how to play:</h5>
  <ul>
    <li>Please signup/login with your email.</li>
    <li>Tap on the tree which is present on the home screen. You can see your taps increasing in the above taps bar.</li>
    <li>You can tap 100,000 times per day. (Limit - 100,000 taps)</li>
    <li>Once you complete 1,000,000 taps you can go to the “Redeem” section and “Redeem” the Giftcard you want.</li>
    <li>You will receive your Giftcard in 15 days to your registered email.
      <p>Note: If you redeemed Solana you'll receive crypto to the address you provide make sure to double check</p> 
    </li>
    <li>If any suspicious activity is detected in the account your account will be banned without any further questioning. </li>

  </ul>
</div>

<app-tabs></app-tabs>