<ion-fab class="fab-icon-style" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openMapMenu($event)"><img class="fab-image" [src]="icon.mapMenu"></ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="selectedAction(geometryActionTypes.addressSearch)"><img class="action-icon" [src]="icon.search"></ion-fab-button>
    <ion-fab-button (click)="selectedAction(geometryActionTypes.gotoLocation)"><img class="action-icon" [src]="icon.currentLocation"></ion-fab-button>
  </ion-fab-list>
</ion-fab>