$color-primary: #3270DC;
$color-secondary: green;
$color-error: red;

.error{
    color: var(--ion-color-danger);
}
.formsz-text-color{
    color: var(--ion-color-primary);
}
.searchbar-input {
    box-shadow: none !important;
}

.listCard{
    margin-left: 0px;
    margin-right: 0px;
}
.listColumn{
    padding:0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listRow1{
    color: #757575;
    height:34px;
}
.listRow2{
    font-size: 12px;
    // color: var(--ion-color-step-600,#666);
    color:#a9a6a6;
    height: 28px;
}
.backarrow{
    margin-right: 2% !important;
}
.sliding-option{
    --background: #ffffff;
    color: #43a4f3;
    border-left: 1px solid #cac4c4;
}
.statusColumn{
    font-size: 12px;
    color: #a9a6a6;
    // overflow: hidden;
    // text-overflow: ellipsis;
    padding-left: 0px;
}
.formheaderlist {
    padding: 0px;
}
.formheaderItem{
    --ion-background-color: linear-gradient(#3270DC, #40C1F6);
}
.newRecord{
    color: steelblue;
}
.savedRecord{
    color: yellowgreen;;
}
.reassignedRecord{
    color: red;
}
.syncRecord{
    color: green;
}
.margin-top-10px{
    margin-top: 10%;
}
.selectedRecord{
    --background : #d6f4ff
}
.noSaved{
    //--background: var(--ion-color-light, #f4f5f8) !important;
    --background:inherit;
    background-color:inherit;
    color: linear-gradient(#3270DC, #40C1F6);
    margin-top: 50%;
    margin-left: 27%;
    color: #a9a6a6;
}
.checked-icon{
    margin-right: 6px;
    width: 38px;
}
.common-filter-modal{
    height: 40%;
    top: 60%;
    &::part(content){
        position: absolute;
        display: block;
        }
}
.map-modal {
    height: 38%;
    top: 62%;
    &::part(content){
        position: absolute;
        display: block;
        } 
}
.custom-ellipse-popover{
    // top:-42%;
    // left: 25%;
    --width: 152px;
}
.List{
    background-color: inherit;
}
.list-bottom-padd{
    padding-bottom: 20%;
}
.sliding-item{
    margin-bottom: 8px;
    border-radius: 12px;
}
.content-style{
    --background:#bdb9b9;
    --padding-start:5px;
    --padding-end:5px;
}
.form-content-style{
    // --background:#edf3f6;
    background:white;
    --padding-start:5px;
    --padding-end:5px;
}
.workorder-icon{
    width: 51px;
    margin-left: -6px;
}
.item-divider{
    padding-left: 5px;
    margin-bottom: 8px;
}
.task-icon{
    width: 51px;
    margin-left: -6px;
    margin-right: -1px;
}
.scroll-color{
    stroke: #3270DC;
    fill: #3270DC;
}
.task-assignments-modal .modal-wrapper{
    height: 50%;
    top: 50%;
    position: absolute; 
    display: block;
}
.filter-toolbar{
    height: 36px;
    --ion-background-color: linear-gradient(#3270DC, #40C1F6) !important;
}
.filter-toolbar-row{
    height:48px;
    color:white
}
.form-icon{
    margin-right: 5px;
    width: 44px !important;
    margin-left: -4px;
    padding-top: 2px;
}
.form-list-row{
    padding-top: 7px;
}
.form-label{
    padding-left: 3px;
}
.opacity{
    opacity: 0.8;
}
ion-backdrop {
    opacity: 0.5;
}
.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}
.widget-card{
    background: white;
    box-shadow: none;
    border: 1px solid #40C1F6;
    color: black
}
.info-height .modal-wrapper{
    height: 40% ;
    //top: 60%;
    position: absolute; 
    display: block; 
}
// .action-cord:hover {
//     background: white;
//     font-size: 15px;
//     color: black;
//     // border: 2px solid #40C1F6;

//     -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
//         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
//         -ms-transform: scale(1.5); /* IE 9 */
//         -webkit-transform: scale(1.5); /* Safari 3-8 */
//         transform: scale(1.065);
//     }
.widget-card:hover {
    // background: white;
    // font-size: 15px;
    border: 2px solid #40C1F6;

    // -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    //     -ms-transform: scale(1.5); /* IE 9 */
    //     -webkit-transform: scale(1.5); /* Safari 3-8 */
    //     transform: scale(1.065);
    }
    .redColor{
        color: red;
    }

.table-widget .modal-wrapper{
    height: 75%;
    top: 25%;
    position: absolute; 
    display: block; 
}
.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.4;         //This grays it out to look disabled
}
.searchbar-clear-icon { display: none !important;  }
.sc-ion-input-md-h {
    --placeholder-opacity: 0.2;
    
    }
    .sc-ion-textarea-md-h {
        --placeholder-opacity: 0.2;
        }

.leaflet-draw-tooltip {
    display: none;
}

.geocoder-control{
    margin-top: 18% !important;
    z-index: 1000 !important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 55px 50px 0 0;
    float: right;
    width: 85%;
}

.version-alert{
    background-color: #4AA2D4;
    padding-left: 8px;
}
.version-alert-text {
    font-size: 12px
}
.syncStatusGreen{
    color: #28a745;
    background: #28a745;
    border-radius: 15px;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 22px;
    margin-right: 6px;
}
.syncStatusYellow{
    color: #ffc107;
    background: #ffc107;
    border-radius: 15px;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 22px;
    margin-right: 6px;
}
.syncStatusRed{
    color: #dc3545;
    background: #dc3545;
    border-radius: 15px;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 22px;
    margin-right: 6px;
}
.syncStatusOrange{
    color: orange;
    background: orange;
    border-radius: 15px;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 22px;
    margin-right: 6px;
}
