// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
// @import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './customStyles.scss';
.spinner-bubbles.sc-ion-loading-md, .spinner-circles.sc-ion-loading-md, .spinner-crescent.sc-ion-loading-md, .spinner-dots.sc-ion-loading-md, .spinner-lines.sc-ion-loading-md, .spinner-lines-small.sc-ion-loading-md {
  color: white !important;
}
.loading-spinner.sc-ion-loading-md + .loading-content.sc-ion-loading-md {
  color: white !important;
}
.loading-wrapper.sc-ion-loading-md {
  background: #2b769a;
  opacity: 0.9 !important;
}
canvas-whiteboard {
    display: block;
    height: 100vh;
  }
  .canvas-whiteboard-shape-selector-wrapper {
    width: 100% !important;
    margin-left: -6px !important;
}
  .canvas_whiteboard_buttons {
    position: absolute !important;
    // width:85% !important;
    top: 0;
    /* width: 100%; */
    text-align: center !important;
    margin-top: -9px !important;
}
  .canvas_whiteboard_buttons{
    padding: 5px;
    padding-top: 16px;
      }
  .canvas_wrapper_div{
    margin-top: -1px !important;

  }

.canvas-whiteboard-shape-preview-canvas {
  cursor: pointer;
  margin-top: 15px !important;
}
.canvas-whiteboard-shape-selector-wrapper {
  display: block !important;
  padding: 4px !important;
  margin-top: 47px !important;
  width: 50% !important;
  border: 1px solid #afafaf !important;
  margin-left: 25% !important;
  position: absolute !important;
}
.canvas-whiteboard-shape-preview-canvas {
  cursor: pointer;
  height: 26px;
  width: 29px;
}
.canvas-whiteboard-colorpicker-input {
  height: 27px !important;
}
.canvas-whiteboard-shape-preview-canvas {
  cursor: pointer;
  margin-left: 12px !important;
}

.mapInteraction {
  position: absolute;
  margin-top: 80%;
  --max-height: 100%;
  --max-width: 100%;
  --border-radius: 10px;
}

.ion-modal{
   --background: rgba(44, 39, 45, 0.2);
     //  &::part(content){
      // backdrop-filter:blur(6px);
      // }
       ion-content{
         --background:transparent;
         --padding-top:25vh;
         --padding-start:20px;
         --padding-end:20px;
       }

}

