// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
// @import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './customStyles.scss';
.spinner-bubbles.sc-ion-loading-md, .spinner-circles.sc-ion-loading-md, .spinner-crescent.sc-ion-loading-md, .spinner-dots.sc-ion-loading-md, .spinner-lines.sc-ion-loading-md, .spinner-lines-small.sc-ion-loading-md {
  color: white !important;
}
.loading-spinner.sc-ion-loading-md + .loading-content.sc-ion-loading-md {
  color: white !important;
}
.loading-wrapper.sc-ion-loading-md {
  background: #2b769a;
  opacity: 0.9 !important;
}



// .modalComponent{
//   height: 40%;

//   &::part(content){
      
//     --backdrop-opacity: 10;
//       position: absolute;
//       top: 60%;
//       display: block;
//       }
// }


// .modalComponent{
//   height: 40%;
//   --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
//   --backdrop-opacity: 10;
//   position: absolute;
//   top: 60%;
//   // display: block;

// }

ion-modal {
  --height: 40%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal{
  ::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 2;
  }
}

