<ion-header>
  <ion-list class="formheaderlist">
    <ion-item lines="none" class="formheaderItem">
      <ion-icon class="backarrow" name="arrow-back" slot="start" color="light" size="large" (click)="closeModal()"></ion-icon>
      <ion-text color="light" class="headingSize"></ion-text>
      <ion-text color="light" slot="end" (click)="saveDataModal()">{{displayProperties.saveLabel}}</ion-text>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col size="12" padding>
        <ion-label>{{displayProperties.measureLength}}</ion-label>
    </ion-col>
</ion-row>
<ion-card  class="widget-card">
    <ion-input type="text" placeholder="Measured Length" [(ngModel)]="data.length"></ion-input>
</ion-card>

<ion-row>
  <ion-col size="12" padding>
      <ion-label>{{displayProperties.landMarkLocation}}</ion-label>
  </ion-col>
</ion-row>
<ion-card class="widget-card">
  <ion-input type="text" placeholder="LandMark Location" [(ngModel)]="data.location"></ion-input>
</ion-card>
</ion-content>