<app-form-header
[Header] = "changePasswordHeader"
[hideButtons] = "hideHeaderButtons"
[ellipseList] = "ellipsePopoverList"></app-form-header>

<ion-content padding>
                  <img [src]="imageIcons.logo" class="logo">
    <!-- <div  style="color:#a9a6a6;padding: 13px;margin-top: -12px;text-indent: 50px;"> -->
   <p class="ion-text-justify text-style"> MagikMinds Formsz solution has been configured for achieving digital data collection and analysis in a simple way.

    Eliminate the hassle of paper processes, duplicate effort and lost work.
   
    A true enterprise solution, Formsz includes everything you need to collect, manage, and analyze information. 
   
    Built-in integration services make it easy to automate processes and push data to other enterprise systems.
   
    The average organization uses hundreds of forms to collect critical information. 
   
    Formsz provides a single solution for managing the entire intelligence gathering process and keeping your 
   
    information safe.</p>
<!-- </div> -->

    <p class="version">Version : {{latestAppVersion}}</p>
</ion-content>
