<app-form-header [Header]="settingsHeader" [hideButtons]="hideHeaderButtons" [ellipseList]="ellipsePopoverList">
</app-form-header>

<ion-content>
  <ion-list>
    <ion-item lines='full'>
      <ion-label>{{displayProperties.netwrokLabel}}</ion-label>
      <ion-toggle [(ngModel)]="toggleStatus" [checked]="networkStatus" (ionChange)="networkToggle($event)"></ion-toggle>
    </ion-item>
    <ion-item lines='full' (click)="getGPsDevicesScreen()">
        <ion-label>{{displayProperties.slectGpsDeviceLabel}}</ion-label>
    </ion-item>
    <ion-item lines='full' (click)="getGpsEnableView()" >
      <ion-label>{{displayProperties.gpsTrackerLabel}}</ion-label>
    </ion-item>
    <ion-item *ngIf="networkStatus" lines='full' (click)="changePassword()">
      <ion-label>{{displayProperties.changePasswordLabel}}</ion-label>
    </ion-item>
    <ion-item lines='full' (click)="referenceList()">
      <ion-label>{{displayProperties.referenceListLabel}}</ion-label>
    </ion-item>
    <ion-item lines='full' (click)="aboutus()">
      <ion-label>{{displayProperties.aboutUsLabel}}</ion-label>
    </ion-item>
    <ion-item lines='full' >
        <ion-label >{{displayProperties.versionLabel}} : {{appVersion}}</ion-label>
        <ion-text (click)="gotToPlaystore()" slot="end" color="warning" *ngIf="!isAppLatestVersion"> {{displayProperties.updateAvialableLabel}} ({{latestAppVersion}})</ion-text>
        <ion-icon name="refresh" (click)="getVersion()" *ngIf="networkStatus && isAppLatestVersion"></ion-icon>
    </ion-item>
  
   
   
    <ion-item  lines='full'>
      <ion-label>{{displayProperties.lastLoginLabel}} : {{lastLogin | date: 'MM/dd/yyyy HH:MM:SS'}}</ion-label>
    </ion-item>

    <!-- <ion-item lines='full'>
      <ion-text class="username">Username </ion-text>
    </ion-item> -->
    <ion-item>
        {{username}}
    </ion-item>
    <ion-item *ngIf="networkStatus" lines='full' (click)="logout()">
      <ion-label>{{displayProperties.logoutBtnLabel}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-badge *ngIf="networkStatus == false" color="danger" class="network-status">
  <p>{{displayProperties.offlieAlertLabel}}</p>
</ion-badge>

<ion-badge *ngIf="networkStatus == true " color="success" class="network-status">
  <p>{{displayProperties.onlineAlertLabel}}</p>
</ion-badge>

